<div x-data="{ modalEdit: false }">
    <!-- Button to open the modal -->
    <button type="button" @click="selectedAcityId = {{id}}; modalEdit = true"
        class="font-medium  text-blue-500 hover:text-blue-700"><i class="fas fa-edit"></i>
    </button>
    <!-- Modal Background -->
    <div x-show="modalEdit" x-transition.opacity.duration.200ms x-trap.inert.noscroll="modalEdit"
        @click.self="modalEdit = false"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-30 backdrop-blur-sm">
        <!-- Modal Container -->
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
            <!-- Close Button -->
            <button @click="modalEdit = false" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </button>
            <!-- Contenido del modal -->
            <h2 class="text-2xl font-semibold mb-4 text-center">Actualizar Actividad</h2>
            <form action="/admin/updateactivity/{{id}}" method="post" class="space-y-4">
                <div class="grid grid-cols-2 gap-6">
                    <!-- Nombre -->
                    <div>
                        <label class="block text-gray-700 font-semibold" for="nombre">Nombre</label>
                        <input type="text"
                            class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            id="nombre" name="nombre" value="{{nombre}}" required>
                    </div>
                    <!-- Costo -->
                    <div>
                        <label class="block text-gray-700 font-semibold" for="costo">Costo</label>
                        <input type="number" step="0.01"
                            class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            id="costo" name="costo" value="{{costo}}" required>
                    </div>
                </div>

                <!-- Descripción -->
                <h3 class="text-gray-700 font-semibold">Descripción</h3>
                <div class="space-y-4">
                    <!-- Incluido -->
                    <div>
                        <label for="incluido" class="block text-gray-700 font-semibold">Incluido</label>
                        <textarea id="incluido" name="descripcion[incluido]" rows="2"
                            class="form-textarea mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            required>{{descripcion.incluido}}</textarea>
                    </div>
                    <!-- No Incluido -->
                    <div>
                        <label for="noIncluido" class="block text-gray-700 font-semibold">No Incluido</label>
                        <textarea id="noIncluido" name="descripcion[noIncluido]" rows="2"
                            class="form-textarea mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            required>{{descripcion.noIncluido}}</textarea>
                    </div>
                    <!-- Detalles Principales -->
                    <div>
                        <label for="detallesPrincipales" class="block text-gray-700 font-semibold">Detalles
                            Principales</label>
                        <textarea id="detallesPrincipales" name="descripcion[detallesPrincipales]" rows="2"
                            class="form-textarea mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            required>{{descripcion.detallesPrincipales}}</textarea>
                    </div>
                    <!-- Requisitos -->
                    <div>
                        <label for="requisitos" class="block text-gray-700 font-semibold">Requisitos</label>
                        <textarea id="requisitos" name="descripcion[requisitos]" rows="2"
                            class="form-textarea mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            required>{{descripcion.requisitos}}</textarea>
                    </div>
                </div>

                <!-- Disponibilidad -->
                <div class="flex items-center mt-4">
                    <div class="flex items-center ms-20">
                        <input type="radio" id="disponible" name="disponibilidad" value="1" {{#if (eq disponibilidad
                            1)}}checked{{/if}} required>
                        <label for="disponible" class="ml-2">Disponible</label>
                    </div>
                    <div class="flex items-center ml-4">
                        <input type="radio" id="no-disponible" name="disponibilidad" value="0" {{#if (eq disponibilidad
                            0)}}checked{{/if}} required>
                        <label for="no-disponible" class="ml-2">No disponible</label>
                    </div>
                </div>

                <!-- Botón de envío -->
                <div class="mt-6">
                    <button type="submit" class="w-full bg-green-600 text-white py-2 rounded-md hover:bg-green-700">
                        Actualizar Actividad
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>