<div x-data="{ modalEdit: false }">
    <!-- Button to open the modal -->
    <button type="button" @click="selectedAcityId = {{id}}; modalEdit = true"
        class="font-medium  text-blue-500 hover:text-blue-700"><i class="fas fa-edit"></i> Editar
    </button>
    <!-- Modal Background -->
    <div x-show="modalEdit" x-transition.opacity.duration.200ms x-trap.inert.noscroll="modalEdit"
        @click.self="modalEdit = false"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-30 backdrop-blur-sm">
        <!-- Modal Container -->
        <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
            <!-- Close Button -->
            <button @click="modalEdit = false" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
                <i class="fa-solid fa-xmark fa-2xl"></i>
            </button>
            <!-- Contenido del modal -->
            <h2 class="text-2xl font-semibold mb-4 text-center">Actualizar Actividad</h2>
            <form action="/admin/updateactivity/{{id}}" method="post" class="space-y-4">
                <div class="grid grid-cols-2 gap-6">
                    <!-- Costo -->
                    <div>
                        <label class="w-32 text-gray-700 font-semibold" for="nombre">Nombre</label>
                        <input type="text"
                            class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            id="nombre" name="nombre" value="{{nombre}}" required>
                    </div>
                    <!-- Nombre -->
                    <div>
                        <label class="block text-gray-700 font-semibold" for="costo">Costo</label>
                        <input type="number" step="0.01"
                            class="form-input mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                            id="costo" name="costo" value="{{costo}}" required>
                    </div>
                </div>
                <!-- Descripción -->
                <label class="text-gray-700 font-semibold flex items-center justify-center w-full mb-2"
                    for="descripcion">Descripción</label>
                <div class="flex items-center">
                    <textarea id="descripcion" name="descripcion" rows="4"
                        class="form-textarea mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200"
                        required>{{descripcion}}</textarea>
                </div>
                <!-- Mostrar el valor de disponibilidad para depuración -->
                <p class="hidden">Disponibilidad: {{disponibilidad}}</p>

                <!-- Disponibilidad -->
                <div class="flex items-center">
                    <div class="flex items-center ms-20">
                        <input type="radio" id="disponible" name="disponibilidad" value="1" {{#if (eq disponibilidad
                            1)}}checked{{/if}} required>
                        <label for="disponible" class="ml-2">Disponible</label>
                    </div>
                    <div class="flex items-center">
                        <input class="ml-4" type="radio" id="no-disponible" name="disponibilidad" value="0" {{#if (eq
                            disponibilidad 0)}}checked{{/if}} required>
                        <label for="no-disponible" class="ml-2">No disponible</label>
                    </div>
                </div>
                <!-- Botón de envío -->
                <div class="mt-6">
                    <button type="submit"
                        class="w-full bg-green-600 text-white py-2 rounded-md hover:bg-green-700">Actualizar
                        Actividad</button>
                </div>
            </form>
        </div>
    </div>
</div>