<div class="container mx-auto max-w-4xl">
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden mt-8">
        <thead>
            <tr class="bg-blue-700 text-white text-left">
                <th class="py-3 px-4">Nombre</th>
                <th class="py-3 px-4">Costo</th>
                <th class="py-3 px-4">Descripción</th>
                <th class="py-3 px-4">Disponibilidad</th>
                <th class="py-3 px-4">Editar</th>
                <th class="py-3 px-4">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {{#each activities}}
                <tr class="border-t hover:bg-gray-100">
                    <td class="py-3 px-4">{{nombre}}</td>
                    <td class="py-3 px-4">{{costo}}</td>
                    <td class="py-3 px-4">{{descripcion}}</td>
                    <td class="py-3 px-4">{{disponibilidad}}</td>
                    <td class="py-3 px-4">
                        <a href="/activities/edit/{{id}}" class="bg-yellow-500 text-white py-1 px-2 rounded hover:bg-yellow-600">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </td>
                    <td class="py-3 px-4">
                        <a href="/activities/deleteActivity/{{id}}" class="bg-red-500 text-white py-1 px-2 rounded hover:bg-red-600">
                            <i class="fa-solid fa-trash"></i>
                        </a>    
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
